
body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #333;
}

th, td {
    padding: 8px;
}

thead {
    background-color: #333;
    color: white;
}

thead th {
    width: 25%;
}
h1, h2 {
    text-align: center;
}
div {
    align-content: center;
}
form {
    vertical-align: top;
    text-align: left;
    margin: auto;
    display: table;
}
label {
    display: inline-block;
    width: 100px;
    margin: 5px;
    text-align: left;
}
input[type=text], input[type=password], select {
    display: inline-block;
    width: 300px;
}
input[type=radio] {
    margin-left: 45px;
}
input[type=checkbox] {
    margin-right: 190px;
}
button {
    padding: 5px;
    margin: 10px;
    align-content: center;
}
.cell-highlight {
    background-color: gold;
    font-weight: bold;
}

