<html>
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div>
    <table>
        <caption>Student List</caption>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td>
                <a href="/student/retrieve/8367294aea27">
                    8367294aea27
                </a>
            </td>
            <td>Stella Dixon</td>
            <td>352-233-2164</td>
            <td>sdixon@yahoo.com</td>
        </tr>
        <tr>
            <td>
                <a href="/student/retrieve/e856c3399d0b">
                    e856c3399d0b
                </a>         
            </td>
            <td>Emma Gianna Cunningham</td>
            <td>731-106-3034</td>
            <td>emma.cunningham@gmail.com</td>
        </tr>
        <tr>
            <td>
                <a href="/student/retrieve/47bc145acd56">
                    47bc145acd56
                </a>                
            </td>
            <td>CarlosLyndon Perkins</td>
            <td>311-365-3250</td>
            <td>carlosp@mindex.com</td>
        </tr>
        <tr>
            <td>
                <a href="/student/retrieve/a1177622d51d">
                    a1177622d51d
                </a>
            </td>
            <td>Jack Thomas</td>
            <td>113-543-3110</td>
            <td>jackthomas@hvcc.edu</td>
        </tr>
        <tr>
            <td>
                <a href="/student/retrieve/33be9382a13a">
                    33be9382a13a
                </a>
            </td>
            <td>Sophia	Elise Kelly</td>
            <td>502-140-1244</td>
            <td>sophia.kelly@shen.edu</td>
        </tr>
    </table>
</div>
</body>
</html>